
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .left-card {
    grid-column: 1 / 2;
    grid-row: 1 / span 3; /* Increase the number of rows for the left card */
  }

  .left-card .card {
    
    max-width: 600px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .right-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }

  .card {
    max-width: 300px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card img {
    width: 100%;
    height: auto;
    display: block;
  }

  .card-content {
    padding: 10px;
  }

  .card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card p {
    font-size: 14px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: 800px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    .left-card,
    .right-cards {
      grid-column: auto;
      grid-row: auto;
    }

    .left-card .card,
    .right-cards .card {
      max-width: 300px; /* Set a maximum width for both left and right cards */
    }

    .right-cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }
